form h4 {
    display: block;
}

form {
    margin-top: -15px;
}


#h4MyAddress {
    margin-bottom: 0px;
}

form h6 {
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 80%;
}

form label {
    font-size: 70%;
    font-weight: 100;
}

form select {
    margin-bottom: 7px;
}

.buttonAddress {
    margin-bottom: 30px;
}

#buttonDoneEditingAddress {
    display: none;
}

#formAddress {
    display: none;
    /*visibility: visible;*/
    /*display:*/ 
}

.form_delete_like {
    display: inlline;
}

table, td {
    border: none;
    border-collapse: collapse;
}