#chat-wall {
    width: 100%;
    height: 200px;
    background-color: rgb(240, 240, 240);
    overflow-y: auto;
    /*padding: 0px 15px;*/
    display: none;
    /*border-bottom-left-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
}

#chat-pod {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*display: none;*/

}

#chat-textarea-container {
    width: 100%;
    background-color: white;
    display: none;
}

#chat-textarea {
    width: 90%;
    height: 90px;
    resize: none;
    /*border-radius: 0px;*/
    padding: 5px 10px;
    display: block;
    margin: auto;
}

#keyboard-area {
    /*background-color: rgb(238, 238, 238);*/
    background-color: rgb(130, 130, 130);
    display: none;
}

#keyboard-container {
    width: 317px;
    /*background-color: rgb(240, 240, 240);*/
    background-color: rgb(130, 130, 130);
    margin: auto;
    height: 115px;
    overflow-y: auto;
    padding: 3px 5px;
}

.emoji-keyboard {
    display: none;
}

#smileys-keyboard {
    display: block;
}


.keyboard-keys {
    zoom: 1.7;
    /*width: 20px;*/
    margin: 0;
    padding: 1px 5px;
    margin-bottom: 1px;
    border-radius: 2px;
    /*background-color: rgb(240, 240, 240);*/
    background-color: rgb(130, 130, 130);
}

.keyboard-keys:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.chat-pod-bar-button-icon {
    font-size: 16px;
}

.chat-pod-bar-buttons {
    display: inline-block;
    padding: 5px 20px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: rgb(140, 140, 140);
}

.chat-pod-bar-buttons:hover {
    background-color: rgb(209, 255, 183);
    cursor: pointer;
}

#chat-pod-buttons-bar {
    background-color: rgb(100, 100, 100);
    padding: 5px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 1px;
}

.chat-wall-default-msg {
    background-color: rgb(255, 254, 249);
    padding: 10px;
    font-weight: 100;
    font-size: 9px;
    font-style: italic;
    margin: auto;
    /*margin-top: 20px;*/
    text-align: center;
    /*top: 20px;*/
    color: rgb(180, 180, 180);
    border-radius: 5px;
    width: 70%;
}

.chat-msg-container {
    /*max-width: 350px;*/
    /*width: 350px;*/
    display: inline-block;
    float: right;
    clear: both;
    margin: 10px;
}

.user-chat-msg-container {
    /*max-width: 350px;*/
    /*width: 350px;*/
    /*display: inline-block;*/
    float: left;

    /*text-align: left;*/
}

.chat-msg-container * {
    vertical-align: top;

}

.user-chat-msg-container * {
    /*float: left;*/
}



.chat-msg-photo {
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(130, 130, 130)
}

.chat-msg {

    background-color: lightcyan;
    padding: 20px;
    font-weight: 100;
    font-size: 11px;
    display: inline-block;
    color: black;
    border-radius: 5px;
    word-wrap: break-word;
    max-width: 280px;
    border-radius: 10px;
    margin: 0 5px;

}

.user-chat-msg-container p {
    background-color: rgb(236, 255, 229);
}

#chat-wall-reference {
    width: 1px;
    height: 1px;
    color: red;
    margin-bottom: 20px;
}

#chat-pod-buttons-nav {
    border-radius: 5px;
}

#empty_chat_list_msg {
    display: none;
    background-color: orange;
    padding: 7px 25px;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 5px;
}
