#photos_container {
    max-height: 750px;
    overflow-y: auto;
    background-color: black;
    box-shadow: none;
    margin-top: 0;
}

#add_photo_form {
    background-color: black;
    color: white;
    box-shadow: none;
    border: 1px solid rgb(100, 100, 100);
    margin-top: 30px;
}

#add_photo_form .form_button {
    box-shadow: none;
    color: white;
}

#add_photo_form .form_button:hover {
    /*box-shadow: none;*/
    background-color: rgb(100, 100, 100);
    color: white;
}

#add_photo_form h5 {
    color: white;
}

#add_photo_form input {
    background-color: rgb(50, 50, 50);
    color: rgb(200, 200, 200);
}

#add_photo_form textarea {
    background-color: rgb(50, 50, 50);
    color: rgb(200, 200, 200);
}

flickr-container {
    /*background-color: yellow;*/
    padding: 40px;
}

.flickr-photo-cover {
    background-color: rgba(244, 146, 66, 0.5);
    width: 240px;
    height: 1220px;
    position: absolute;
    /*top: 0px;*/
    /*left: 0px;*/
}

.link-photos {
    width: 197px;
    height: 197px;
    /*zoom: 129%;*/
}

#reference_for_loading_more {
    width: 200px;
    height: 1px;
    background-color: red;
}

.individual_photo_container {
    display: inline;
    /*background-color: yellow;*/
    /*padding: 20px;*/
    margin-right: 1px;
    /*padding-bottom: 1px;*/
    /*border-bottom: 10px solid white;*/
}

.horizontal_divider {
    width: 100%;
    height: 1px;
    background-color: black;
}

#load_more_button {
    margin: 0;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    padding: 10px 20px;
    font-size: 12px;

}

#solo_view_container {
    position: absolute;
    background-color: rgba(20, 20, 20, 0.9);
    top: 0px;
    left: 0px;
    /*width: 1000px;*/
    /*height: 1000px;*/
    display: none;
}

#solo_view_container table {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
 }

#solo_view_container table td {
    vertical-align: top;
}

#solo_img_container {
    width: 1100px;
    /*margin: auto;*/
    text-align: center;
}

.individual_photo_container img {
    display: inline;
}

.individual_photo_container img:hover {
    cursor: pointer;
    /*pointer-events: none;*/
}

.solo_buttons {
    background-color: rgba(60, 60, 60, 0.7);
    padding: 50px 40px;
    border-radius: 3px;
    z-index: 5;
}

#previous-solo-button {
    margin-right: 30px;
}

#next-solo-button {
    margin-left: 30px;
}

.solo_buttons:hover {
    background-color: rgba(70, 70, 70, 1.0);
    cursor: pointer;
}

.captions {
    /*width: 100%;*/
    /*height: 100%;*/
    position: absolute;
    display: inline;

    pointer-events: none;
    /*z-index: 5;*/
    /*background-color: yellow;*/
}

.captions:hover {
    cursor: pointer;
    /*cursor: hand;*/
}

.sample_inner_caption {
    /*height: 50%;*/
    background-color: rgba(255, 196, 119, 0.3);
    /*padding: 3px 0px;*/
    /*padding-bottom: 0;*/
    display: block;
    position: static;
    /*height: 24px;*/
    /*max-height: 36px;*/
    /*opacity: 0.1;*/
}

.my-photo-icons {
    margin: 10px;
}

.captions:hover {
    display: none;
}