#middle_content {
    background-color: rgb(250, 250, 250);
}



#sub_menus_nav {
    background-color: rgb(60, 60, 60);
}

#sub_menus_nav a {
    color: rgb(220, 220, 220);
}

.section {
    background-color: rgba(240, 240, 240, 1.0);
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(150, 150, 150);
}

.form_button {
    margin: 0;  
    margin-top: 10px;
    margin-right: 10px;
}
