#add_video_form {
    display: none;
}

#my_videos_table td {
    /*padding-top: 100px;*/
}

div.timeline_iframe_video_div iframe {
    width: 560px;
    height: 315px;
}


#add_video_form h6.field_title {
    /*display: inline;*/
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 100;
}

input.form_input {
    width: 300px;
    height: 35px;
    padding: 10px;
    border-radius: 3px;
}

textarea.form_input {
    width: 600px;
    height: 180px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}

#my_videos_table .timeline_iframe_video_div {
    background-color: rgba(220, 220, 220, 0.30);

    /*padding-bottom: 30px;*/
}

.timeline_iframe_video_div h4 {
    color: black;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 15px;
}

#lupetness_a {
    color: black;
    font-size: 12px;
    font-weight: 100;
    display: block;
    margin-top: 15px;
}

#lupetness_a:hover {
    color: orange;
}


#my_videos_h4 {
    margin-top: 100px;
    margin-left: 30px;
}


#my_videos_table td {
    /*margin-bottom: 30px;*/
}

/*    #ad_container {
        visibility: hidden;
    }*/