#categorized_notification_container_template {
    display: none;
}

.notification_x_container_template {
    display: none;
    color: black;
    box-shadow: none;
    margin: 10px;
    background-color: inherit;
    border-radius: 3px;
    padding: 10px;
}

.notification_x_title {
    font-size: 12px;
    font-weight: 100;
}

.notification_x_container_template hr {
    background-color: rgb(230, 230, 230);
    margin: 5px 0px;
    margin-bottom: 15px;
}

.notification_x_container_template a {
    color: dodgerblue;
}

.notification_x_container_template a:hover {
    text-decoration: underline;
    cursor: pointer;
}

p.notifications {
    font-size: 11px;
    font-weight: 100;
    background-color: rgb(255, 251, 239);
    /*box-shadow: 0 0 10px rgb(255, 235, 183);*/
    border: 1px solid rgb(255, 235, 183);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    color: rgb(70, 70, 70);
}

p.notifications:hover {
    box-shadow: 0 0 20px rgb(249, 215, 127);
    /*border: 1px solid rgb(255, 251, 239);*/
    cursor: pointer;
}

a.delete_notification_links {
    /*margin-left: 10px;*/
    padding: 1px;
    /*padding-left: 5px;*/
    padding-right: 5px;
    /*margin-left: 3px;*/
    /*margin-top: -5px;*/
    /*background-color: #ff471a;*/
    border-radius: 5px;
    color: red;
    font-size: 14px;
}

a.delete_notification_links:hover {
    /*background-color: red;*/
    /*color: white;*/
    text-decoration: underline;
}

#notifications-widget {
    width: 390px;
    /*height: 100px;*/
    /*background-color: rgb(250, 255, 247);*/
    background-color: white;
    /*position: absolute;*/
    /*right: 0px;*/
    /*bottom: 70px;*/
    /*margin-right: 20px;*/
    /*margin-bottom: 20px;*/
    border-radius: 5px;


    /*pointer-events: none;*/
    box-shadow: 0 0 15px rgb(100, 100, 100);
}

#notifications-widget-main-container {
    max-height: 550px;
    overflow-y: auto;
    display: none;
}

#notifications-menu-bar {
    background-color: lightblue;
    text-align: right;
    padding: 10px 15px;
}

.notifications-menu-icons {
    color: rgb(100, 100, 100);
}

.notifications-menu-icons:hover {
    color: orange;
    cursor: pointer;
}

#expand-notifications-icon {
    display: none;

}

.widget-menu-bar-item {
    display: inline-block;
}

.widget-title {
    font-size: 12px;
    font-weight: 100;
    color: rgb(70, 70, 70);
}

.widget-menu-bar-icon {
    width: 18px;
    height: 18px;
    margin-right: 0px;
}